
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style="width:800px;">
        <div class="row">

            <div class="col-lg-5" style="border:1px solid #4cff00;">
                wesrdtfyguhjkl
            </div>
            <div class="col-lg-5" style="border:1px solid #0026ff;">
                waesdfghjkl
            </div>

        </div>
    </div>
</body>
</html>
